//
// HTML5 Boilerplate
//
// What follows is the result of much research on cross-browser styling.
// Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
// Kroc Camen, and the H5BP dev community and team.
//

html,
button,
input,
select,
textarea {
    color: @textDefault;
}

::-moz-selection {
    background: @highlight;
    text-shadow: none;
}

::selection {
    background: @highlight;
    text-shadow: none;
}

img {
    vertical-align: middle;
    border:0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}