// =============================================================================
// Colours
// =============================================================================

@bgBody:		#ccc;
@highlight:		#ff0066;
@textDefault:	#222;



// =============================================================================
// Breakpoints (use ems instead of pixels to account for user zoom)
// =============================================================================

@bpS: 			20em;